@media only screen and (max-width: 1920px) {
    html {
        font-size: 14px;
    }
}

@media only screen and (max-width: 1440px) {
    html {
        font-size: 12px;
    }
}

@media only screen and (max-width: 800px) {
    html {
        font-size: 4px;
    }
}

.main {
    position: relative;
    width: 100rem;
    height: 83.3rem;
    margin: 0 auto;

}

.main .main_left {
    position: fixed;
    width: 25rem;
    height: 25rem;
}

.main .main_left a {
    text-decoration: none;
    color: #000;
}

.main .main_left a:hover {
    color: #000;
}

.main .main_left .lfsx {
    width: 25rem;
    height: 5.83rem;
    line-height: 5.83rem;
    text-align: center;
    text-decoration: none;
    background-color: rgb(203, 213, 213);
}

.main .main_left .tsgyp {
    width: 25rem;
    height: 5.83rem;
    line-height: 5.83rem;
    text-align: center;
    text-decoration: none;
    background-color: rgb(203, 213, 213);
}

.main .main_left .skbj {
    width: 25rem;
    height: 5.83rem;
    line-height: 5.83rem;
    text-align: center;
    text-decoration: none;
    background-color: rgb(203, 213, 213);
}

.main .main_left .aqss {
    width: 25rem;
    height: 5.83rem;
    line-height: 5.83rem;
    text-align: center;
    text-decoration: none;
    background-color: rgb(203, 213, 213);
}

.main_right {
    position: absolute;
    left: 25rem;
    width: 75rem;
    height: 75rem;
}